body{
    margin:20px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right:30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
    background-position: fixed;
}
.heading{
    display: inline;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin:10px;
    
}
#dsi{
    float:left;
    width:130px;
}
#ten{
    float:right;
    width:130px;

}



#one{
    margin-left: 260px;
    
}

.navbar-brand
{
    margin: 0;
    padding: 0;
}

.navbar-brand img
{
    max-height: 100%;
}
.first-slide , .second-slide , .third-slide{
    max-height: 400px;
    width: 100%;
}
#manju{
    padding-top:20px;
    a: center;
}
.slide{
    width:100%;
}

#nine{
    margin-left:260px;
    margin-top:5px;
}

.part{
display: inline;

}
.bodypart{
    float:left;
    width:65%;
    height:500px;
    border-style: groove;
    border-color:black;

}
.newspart{
    float: right;
    width:30%;
    height:500px;
    border-style: groove;
    border-color:black;

}
.newshead{
    text-align:center;
    margin-top: 5px;
    
}
.news{
    
    height:435px;
    border-style: groove;
    
}
.feat{
    margin-left: 10px;
    margin-right:10px;
}




